body{

font-family:Arial;

background:#f4f4f4;

padding:20px;

}

.quran {
    text-align: center;
    text-transform: capitalize;
    color: darkgreen;
}

.hdy{

text-align:center;

color:navy;

}

.container{

max-width:900px;

margin:auto;

}

.input-section{

display:flex;

flex-direction:column;

gap:10px;

margin-bottom:20px;

}

.input-section input,
#searchStudent{

padding:12px;

font-size:16px;

border-radius:8px;

border:1px solid gray;

}

button{

font-weight:bold;

cursor:pointer;

}

.input-section button{

padding:12px;

background:darkgreen;

color:white;

border:none;

border-radius:8px;

}

#studentList{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:15px;

}

.student-card{

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 2px 5px rgba(0,0,0,.1);

}

.count{

font-size:24px;

font-weight:bold;

margin:15px 0;

color:darkgreen;

}

.buttons{

display:flex;

gap:10px;

margin-top:10px;

}

.buttons button{

flex:1;

padding:10px;

border:none;

color:white;

border-radius:8px;

}

.add-btn{background:green;}

.minus-btn{background:orange;}

.reset-btn{background:red;}

.delete-btn{background:purple;}

.finished{

color:green;

font-weight:bold;

margin-top:10px;

}

.menu-panel{

display:none;

flex-direction:column;

gap:10px;

background:white;

padding:15px;

border-radius:10px;

margin-bottom:15px;

}

.menu-panel.show{

display:flex;

}

.reward-ad{

display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.85);

justify-content:center;

align-items:center;

z-index:999;

}

.reward-box{

background:white;

padding:30px;

border-radius:12px;

width:80%;

max-width:320px;

text-align:center;

  }
